.careheader_container {
    background: url(../photos/carefinder1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    place-items: center;
  


}



.careheader_head {
    text-align: center;
    line-height: 3rem;

}

.careheader_heading,
.heading_para {
    color: rgb(235, 147, 243);
}

.careheader_heading {
    font-size: 2.5rem;

    font-weight: 700;
    margin-bottom: 1rem;
}

.careheader_input {
    position: relative;
}

.careheader_input_element {
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
    width: 90%;

}

.careheader_input_icon {
    position: absolute;
    right: 45px;
    font-size: 1.5rem;
    top: 15px;
    cursor: pointer;
}


.careheader_heading_span {
    text-decoration: underline;
}

 .careheader_select {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    gap: 1rem;
}

.careheader_item {
    color: #fff;
    background-color: rgb(235, 147, 243);
    padding: 8px 12px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.careheader_item:hover {
    background-color: rgb(235, 147, 243);
    cursor: pointer;
    transition: ease-in-out 0.3s;

}


.carephoto {

    position: absolute;
    width: 816px;
    height: 603px;
    left: 624px;
    top: 210px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(12px 12px 20px rgba(14, 61, 183, 0.25));
    border-radius: 50px 50px 50px 50px;
    opacity: 0.5;


}

@media screen and (max-width:991px) {
    .careheader_heading {
        font-size: 2rem;
    }

    .careheader_select {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;


    }

    .careheader_item {
        margin-bottom: 1rem;
    }

    .careheader_select_icon {
        font-size: 20px;
    }

    .careheader_container {
        background: url(../photos/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: grid;
        place-items: center;
    }

}